@import "tailwindcss";

@font-face {
  font-family: "Mignon";
  src: url("/fonts/Mignon-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  display: "swap";
}
@font-face {
  font-family: "Mignon";
  src: url("/fonts/Mignon-Semibold.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
  display: "swap";
}

html {
  @apply w-full h-full relative;
  scroll-behavior: smooth;

  font-size: calc(100vw / (390 * 1));

  @media screen and (min-width: 641px) {
    font-size: calc(100vw / (1920 * 1));
  }
}
body {
  @apply w-full min-h-full relative mx-auto p-0 m-0 overflow-x-hidden;

  @supports (height: 100dvh) {
    :root {
      --app-height: 100dvh;
    }
  }
}
